body {
    background: lightgrey;
}

.container {
    margin: 0 auto;
    width: 50%;
    height: 50vh;
    background: lightslategrey;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.content {
    /*grid-column: 1;*/
    /*grid-row: 1;*/
    grid-area: 1 / 1;
    background: #f8efed;
    padding: 0px 20px;
}

.slider {
    /*grid-column: 1;*/
    /*grid-row: 1;*/
    grid-area: 1 / 1;
    align-self: end;
    justify-self: end;
    background: transparent;
    font-size: 18px;
    width: 300px;
    height: 50vh;
    padding: 20px 20px;
    z-index: 10;
}

.controller {
    grid-area: 1 / 1;
    align-self: end;
    justify-self: end;
    background: black;
    width: 150px;
    height: 50px;
    color: white;
    justify-content: center;
    align-content: center;
}

