.app {
  margin: 0 auto;
  max-width: 1000px;
  height: 95vh;
  background: #f9fafb;
  padding: 20px;
}

.Collapsible {
  background: transparent;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #00ac9d;
  color: white;
}

.Collapsible__trigger[aria-expanded="false"] {
  border-radius: 15px;
}

.Collapsible__trigger[aria-expanded="true"] {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.Collapsible__trigger:after {
  content: "+";
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  /* transition: transform 300ms; */
}
.Collapsible__trigger.is-open:after {
  /* transform: rotateZ(180deg); */
  content: "-";
  position: absolute;
  display: block;
  right: 13px;
  top: 10px;
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}
