body {
  margin: 0 auto;
  width: 50vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main__header {
  font-size: 3em;
}

.main__text {
  font-size: 1em;
}
