@import url("https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap");

* {
  font-family: "Rubik Gemstones", cursive;
}

body {
  height: 98vh;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  background-image: url("/bg.jpg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  body {
    background-size: 170%;
  }
}

@media (max-width: 767px) {
  body {
    background-position: right 35% bottom 45%;
    background-size: 400%;
  }
}

h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

@media (max-width: 767px) {
  h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    font-weight: 100;
    margin: 40px 0px 20px;
  }
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 44px;
}

.clock-div > div {
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
}

.clock-div div > span {
  padding: 15px;
  border-radius: 3px;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.block {
  position: absolute;
  top: 0;
  left: 100px;
}

@media only screen and (max-width: 767px) {
  .block {
    position: absolute;
    top: 0;
    left: 0;
  }
}
